html{ margin: 0; padding: 0;}
body{
  background-image:url(/images/wallpaper.jpg);
  background-color: #0c6a12;
  background-position: center;
  background-repeat: no-repeat;
}
#wrapper{
  width: 95%;
  min-height: 600px;
  padding:10px;
  margin: 0 auto;
  background-color: #dff0db;
  font-family: 'Lexend', sans-serif;
  font-size: 18px;
  border-radius: 25px;
}
#header{
  width: 98%;
  height: 55px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 47px;
  color: white;
  -webkit-text-stroke: 2px rgb(0, 0, 0);
}
#nav{
  height: 24px;
  width: 98%;
  margin: 0 auto;
  font-size: 22px;
}
#second-nav{
  height: 24px;
  width: 98%;
  margin: 0 auto;
  font-size: 22px;
  text-align: right;
}
#nav a:link, #second-nav a:link{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
#nav a:visited, #second-nav a:visited{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
#nav a:hover, #second-nav a:hover{
  text-decoration: none;
  color: #4CAF50;
  font-weight: bold;
}
#content{
  width: 96%;
  padding: 10px;
  min-height: 600px;
  margin: 10px auto;
  background-color: #ffffff;
  border-radius: 25px;
}
#subcontent{
  width: 98%;
  padding: 4px;
  min-height: 600px;
  margin: 10px auto;
}
.move-right{
  float: right;
  margin-right: 4px;
}
img {
  width: 100%;
  height: 300px;
  object-fit: fill;
}
#img_wrapper {
  min-width: 300px;
  min-height: 300px;
  padding: 2px;
  margin: 0 auto;
  float: left;
} 
#pfp_wrapper {
  width: 20%;
  min-height: 200px;
  padding:10px;
  margin: 0 auto;
  float: right;
  background-color: #d0d0d075;
  font-family: 'Lexend', sans-serif;
  font-size: 18px;
  border-radius: 25px;
  border-style: solid;
}
/* FORM */
.input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ababab;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  font-size: 14px;
}

input[type=submit] {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #248a29;
}
textarea {
  line-height: 1.5;
  font-family: 'Assistant', sans-serif;
  font-size: 18px;
}
#form-block-center {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}
#form-block {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}
#form-block #form-block-half{
  width: 45%;
  float: left;
  padding: 20px;
}
#button-block{
  width: 95%;
  padding: 20px;
  text-align: right;
}
/** end */
#data-list {
  border-collapse: collapse;
  width: 100%;
  height: auto;
}
#data-list td, #data-list th {
  border: 1px solid #000000;
  padding: 8px;
  height: auto;
}
#data-list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #2a771b;
  color: white;
  height: auto;
}
#data-list tr:nth-child(odd) {
  background-color: #ffffff;
}
#data-list tr:nth-child(even) {
  background-color: #f0f5ef;
}
#brand-block{
  width: 98%;
  height: 55px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 60px;
  color: white;
  -webkit-text-stroke: 2px rgb(0, 0, 0);
}
#login-block{
  width: 30%;
  height: 300px;
  margin: 20px auto;
  border-radius: 5px;
  background-color: #e8e8e8;
  padding: 20px;
  font-family: 'Lexend', sans-serif;
  font-size: 22px;
  border-radius: 25px;
  text-align: justify;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#error_notif {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  margin: 0 auto;
  z-index: 999999999;
}

* {box-sizing: border-box}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .confirmbtn, .submitbtn  {
  float: right;
  width: 30%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.confirmbtn {
  background-color: #f44336;
}
.btn-jsactive{
  text-decoration: underline;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
/* Add a color to the delete button */
.submitbtn {
  background-color: #04AA6D;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: left;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(255,255,255,70%);
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 4px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .confirmbtn, .submitbtn {
    width: 100%;
  }
}
.btn-box{
  float: right;
  width: 50%;
  text-align: right;
}

#receive-details table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #000;
}
.info-text{
  font-weight: bold;
}
/*tr:nth-child(even){background-color: #f2f2f2}*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}